@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(rgba(166, 121, 81, 0.3), rgba(217, 165, 119, 1)), url(../imgs/filhotes_dogos-1536x768.jpg);
    background-position: center;
    background-size: cover;
    background-position-y: 0px;
}

header {
    width: 100%;
    height: 7vh;
    background: rgba(166, 121, 81, 0.2);
}


.menu-content {
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8rem;
}

.logo {
    font-size: 1.8rem;
    letter-spacing: 0.4rem;
    cursor: pointer;
}

.logo span {
    color: #F2D750;
}

.menu-content .list-itens {
    display: flex;
    list-style: none;
    gap: 10px;
}

.menu-content .list-itens a {
    text-decoration: none;
    color: #fff;
    padding: 1.5rem;
    transform: 2ms ease-in;
    position: relative;
}

.menu-content .list-itens a:before {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #bf5f49;
    transition: all 1.5s ease;
}

.menu-content .list-itens a:hover:before {
    width: 100%;
}

main {
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.primary-text {
    width: 850px;
    font-size: 4rem;
    margin-bottom: 2rem;
    text-align: center;
}

.primary-text span {
    color: #BF5E49;
}

.second-text {
    margin-bottom: 7rem;
    font-size: 2rem;
    color: #cf670cab;
    text-transform: uppercase;
}

.btns {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btns button {
    width: 250px;
    height: 60px;
    cursor: pointer;
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: bold;
    letter-spacing: 0.2rem;
    border-radius: 20px;
    position: relative;
    transition: 1.5s;
}

.btns button:hover {
    color: #2F343B;
    border: none;
}

.btns button:before {
    content: ' ';
    border-radius: 20px;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 60px;
    background-color: #F2D750;
    z-index: -1;
    transition: 1s;
}

.btns button:hover:before {
    width: 100%;
}


.btn-visit {

}